* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.service text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
.env.example text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
VERSION text eol=lf

*.zip binary
*.sqlite3 binary
